/* Colors */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-shadow: rgba(0, 0, 0, 0.4);
  --color-black-backdrop: rgba(0, 0, 0, 0.3);
  --color-gradient-light: #2c3e50;
  --color-gradient-dark: #101010;
  --color-present: #b59f3b;
  --color-correct: #538d4e;
  --color-blue-light: #617c96;
  --color-blue-medium: #476886;
  --color-blue-dark: #334b61;

  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #d5d5d5;
  --color-gray-light-5: #aaa;
  --color-gray-light-6: #999;
  --color-gray-light-7: #666;
  --color-gray-light-8: #444;

  --guess-board-width: clamp(26rem, 25.2rem + 4vw, 30rem);
  --game-max-width: 50rem;
  --modal-max-width: 40rem;

  --ui-margin-small: 1rem;
  --ui-margin-medium: 2rem;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  /* line-height: 1.3; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, var(--color-gradient-dark), var(--color-gradient-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 700;
}

/* Alerts */

.alert-container {
  position: fixed;
  top: 14rem;
}

.alert {
  padding: 1.2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0.25rem;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: var(--ui-margin-small);
  font-size: clamp(1.5rem, 1.4rem + 0.5vmin, 2rem);
}
.alert.hide {
  opacity: 0;
}

/* Modals */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 30vh;
  width: 100%;
  max-width: var(--modal-max-width);
  z-index: 100;
  overflow: hidden;
  padding: 3rem;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: calc(var(--modal-max-width) / 40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: var(--ui-margin-medium);
}
.modal p {
  font-size: 2.2rem;
  margin-bottom: var(--ui-margin-medium);
}
.modal .modal__word {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-correct);
}

.hidden {
  display: none;
}

.modal .modal__button {
  border: none;
  margin: 0;
  padding: 1rem 1.4rem;
  color: var(--color-white);
  background-color: var(--color-correct);
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
}

/* Main containers */

.container {
  width: 100%;
  max-width: 100rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,
.main,
.footer {
  padding: 3.5rem 1rem;
  text-align: center;
}

/* Header */

.header h1 {
  font-size: clamp(2.8rem, 2.5rem + 1.33vmin, 3.5rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.header h2 {
  font-size: clamp(1.65rem, 1.5rem + 0.67vmin, 2rem);
  font-weight: 700;
  color: var(--color-gray-light-5);
}

/* Main */

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--game-max-width);
  height: 100%;
}

/* Guess board */

.guess-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.4em;
  margin-bottom: 6rem;
  width: var(--guess-board-width);
  height: calc(var(--guess-board-width) * 1.2);
}

.guess-board__tile {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 0.2rem solid var(--color-blue-dark);
}

.guess-board__tile[data-state='active'] {
  border-color: var(--color-blue-medium);
}
.guess-board__tile[data-state='absent'] {
  background-color: var(--color-blue-dark);
  border: none;
}
.guess-board__tile[data-state='present'] {
  background-color: var(--color-present);
  border: none;
}
.guess-board__tile[data-state='correct'] {
  background-color: var(--color-correct);
  border: none;
}

/* Keyboard */

.keyboard__container {
  width: 100%;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 0.6rem 0;
}

.keyboard__key {
  border: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: 6rem;
  padding: 0;
  margin: 0 0.6rem 0 0;
  border-radius: 0.5rem;
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-blue-light);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.keyboard__key:last-of-type {
  margin: 0;
}

.keyboard__key:hover {
  filter: brightness(130%);
}

.keyboard__spacer {
  flex: 0.5;
}

.keyboard__key.large {
  flex: 1.5;
}

.keyboard__key > svg {
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none; /* needed to make svg unclickable */
}

.keyboard__key.present {
  background-color: var(--color-present);
}
.keyboard__key.correct {
  background-color: var(--color-correct);
}
.keyboard__key.absent {
  background-color: var(--color-blue-dark);
}

/* Footer */

.footer p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
